<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>いのレース</title>
    <style type="text/css">
      td.value {
        text-align: right;
      }
      td.center {
        text-align: center;
      }
    </style>
    <script src="http://cdn.rawgit.com/phi-jp/tmlib.js/0.3.0/build/tmlib.js"></script>
    <script>
        turn = 0;
        started = false;
        <% turn = 0%>
        tm.main(function() {
          // キャンバスアプリケーションを生成
          var app = tm.display.CanvasApp("#course");
          // リサイズ
          app.resize(<%= @race.get_course.distance %>/40 + 200, <%= @race.get_runners.length*50 %>);
          // ウィンドウにフィットさせる
          app.fitWindow();

          // ターン毎の位置を2次元配列に格納
          turns = new Array(<%= @race.get_turns.length %>);
          for (t=0; t<turns.length; t++){
            turns[t] = new Array(<%= @race.get_runners.length %>);
          }
          <% for t in 0..@race.get_turns.length-1 %>
            <% for i in 0..@race.get_runners.length-1 %>
              turns[<%= t %>][<%= i %>] = <%= @race.get_turn_positions[t][i] %>;
            <% end %>
          <% end %>

          // シーンを生成&入れ替え
          var scene = MainScene();
          app.replaceScene(scene);

          // 実行
          app.run();
        });

        // シーンを定義
        tm.define("MainScene", {
            superClass: "tm.app.Scene",
            
            init: function() {
              this.superInit();

              <% for i in 0..@race.get_runners.length-1 %>
              <% runner = @race.get_runners[i] %>
                this.star<%= runner.id %> = tm.display.StarShape().addChildTo(this);
                this.star<%= runner.id %>.setPosition(0, 50*<%= runner.id %>-25);
              <% end %>
            },
            
            update: function(app) {
              // タッチしたら開始
                var pointing = app.pointing;
                if (pointing.getPointing()) {
                started = true;
              }

              // 更新処理
              if (turn < <%= @race.get_turns.length %> && started){
                <% for i in 0..@race.get_runners.length-1 %>
                  <% runner = @race.get_runners[i] %>
                  this.star<%= runner.id %>.x = (turns[turn][<%= i %>] - (turn+1)*800)/2 + 20*(turn+1)
                  this.star<%= runner.id %>.rotation = turns[turn][<%= i %>]/15
                <% end %>
                turn += 1;
                <% turn += 1 %>
              }
              if (turn >= <%= @race.get_turns.length %>){
                // 結果表示(倍率表示時のみオッズも表示)
                this.label1 = tm.display.Label("1着:<%= @race.get_rank_ordered_runner_ids[0] %> ").addChildTo(this);
                this.label2 = tm.display.Label("2着:<%= @race.get_rank_ordered_runner_ids[1] %> ").addChildTo(this);
                <% if @is_bet %>
                  this.label3 = tm.display.Label("<%= @race.get_rank_ordered_runner_ids[0] %> x<%= @first_odds[@race.get_rank_ordered_runner_ids[0]-1] %>").addChildTo(this);
                  this.label4 = tm.display.Label("<%= @race.get_rank_ordered_runner_ids[0] %>-<%= @race.get_rank_ordered_runner_ids[1] %> x<%= @pair_odds[@race.get_rank_ordered_runner_ids[0]-1][@race.get_rank_ordered_runner_ids[1]-1] %>").addChildTo(this);
                <% end %>
                // 位置指定
                this.label1.setPosition(300, 30);
                this.label2.setPosition(300, 60);
                <% if @is_bet %>
                  this.label3.setPosition(300, 110);
                  this.label4.setPosition(300, 140);
                <% end %>
              }
            }
        });

    </script>
  </head>
  <body>

    <div class="put_distance">
      レース距離：<%= @race.get_course.distance %>
    </div>

    <div class="put_runnners">
      <table border>
        <tr>
          <td>
          </td>
          <td>
            スピード
          </td>
          <td>
            ブレ度
          </td>
          <% if @is_bet %>
            <td>
              倍率
            </td>
            <% for j in 0..@race.get_runners.length-1 %>
              <td class="center">
                [<%= j+1 %>]
              </td>
            <% end %>
        <% end %>
        </tr>
        <% for i in 0..@race.get_runners.length-1 %>
          <% runner = @race.get_runners[i] %>
          <tr>
            <td>
              <%= runner.id %> 
            </td>
            <td class="value">
              <!-- <%= runner.speed %> -->
<!-- 
              <%="速い" if runner.speed == 798 %>
              <%="やや速い" if runner.speed == 799 %>
              <%="普通" if runner.speed == 800 %>
              <%="やや遅い" if runner.speed == 801 %>
              <%="遅い" if runner.speed == 802 %>
 -->
              <%="×" if runner.speed == 798 %>
              <%="▲" if runner.speed == 799 %>
              <%="△" if runner.speed == 800 %>
              <%="○" if runner.speed == 801 %>
              <%="◎" if runner.speed == 802 %>
 <!-- 
              <%="E" if runner.speed == 798 %>
              <%="D" if runner.speed == 799 %>
              <%="C" if runner.speed == 800 %>
              <%="B" if runner.speed == 801 %>
              <%="A" if runner.speed == 802 %>
 -->
            </td>
            <td>
              <!-- <%= runner.stable %> -->
              <% for l in 1..runner.stable/5 %>|<% end %>
            </td>
            <% if @is_bet %>
              <td class="value">
                x<%= @first_odds[i] %>
              </td>
              <% for j in 0..@race.get_runners.length-1 %>
                <td class="center">
                  <% if i==j %>
                    [<%= j+1 %>]
                  <% else %>
                    x<%= @pair_odds[i][j] %>
                  <% end %>
                </td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>

    <div class="canvas">
      <canvas id="course"></canvas>
    </div>

  </body>
</html>
